{% extends 'base.html' %}

{% block content %}

<h1>Run Statistics</h1>
<table class="data fullwidth">
    <tr>
        <th>Created: </th>
        <td>{{ run.date_started }}</td>
    </tr>
    <tr>
        <th>Original Script</th>
        <td><a href="/script/{{ run.test_script.id }}/">{{ run.test_script.id }}</a></td>
    </tr>
    <tr>
        <th>Flavour: </th>
        <td>{{ flavour }} </td>
    </tr>
    <tr>
        <th>Passed:</th>
        <td>{{ run.get_passed }}</td>
    </tr>
    <tr>
        <th>Failed:</th>
        <td> {{ run.get_failed }}</td>
    </tr>
    <tr>
        <th>Incomplete:</th>
        <td> {{ run.get_incomplete }}</td>
    </tr>
    <tr>
        <th>Editting Users:</th>
        <td>{% for user in run.edit_users.all %}
            {% if forloop.last %}
                {{ user.username }}
            {% else %}
                {{ user.username }}, 
            {% endif %}
            {% endfor %}</td>
    </tr>
</table>

<h2>Groups to test</h2>
<ul>
{% for group in groups %}
 <li>{{ group.name }}</li>
{% endfor %}
</ul>

<form action="." method="POST">
{% csrf_token %}
<input type="submit" value="View Run" name="view" />
<input type="submit" value="Edit Run" name="edit" />
<input type="submit" value="Download Run" name="download" />
</form>

{% endblock %} 

