{% extends 'base.html' %}

{% block content %}

<h1>Run Statistics</h1>
<table class="data fullwidth">
    <tr>
        <th>Created: </th>
        <td>{{ run.date_started }}</td>
    </tr>
    <tr>
        <th>Flavour: </th>
        <td>{{ flavour }} </td>
    </tr>
    <tr>
        <th>Passed:</th>
        <td>{{ passed }}</td>
    </tr>
    <tr>
        <th>Failed:</th>
        <td> {{ failed }}</td>
    </tr>
    <tr>
        <th>Incomplete:</th>
        <td> {{ incomplete }}</td>
    </tr>
</table>

<h2>Groups to test</h2>
<ul>
{% for group in groups %}
 <li>{{ group.name }}</li>
{% endfor %}
</ul>

<form action="." method="POST">
{% csrf_token %}
<input type="submit" value="View Run" name="view" />
<input type="submit" value="Edit Run" name="edit" />
<input type="submit" value="Download Run" name="download" />
</form>

{% endblock %} 

