{% extends 'base.html' %}

{% block content %}

<h3>Run Statistics</h3>
<p>Created: {{ run.date_started }}</p>
<p>Flavour: {{ flavour }} </p>
<p>Passed: {{ passed }}</p>
<p>Failed: {{ failed }}</p>
<p>Incomplete: {{ incomplete }}</p>

<h3>Groups to test</h3>
<ul>
{% for group in groups %}
 <li>{{ group.name }}</li>
{% endfor %}
</ul>

<form action="." method="POST">
{% csrf_token %}
<input type="submit" value="View Run" name="view" />
<input type="submit" value="Edit Run" name="edit" />
<input type="submit" value="Download Run" name="download" />
</form>

{% endblock %} 

