{% extends 'base.html' %}

{% block content %}

{{ script.script_file }} <br />
{{ script.date_uploaded }} <br />
{{ script.upload_user }} <br/>
{{ num_tests }}<br />

<div>Approved: {{script.approved}}</div>
<div>Approving User: {{script.approved_user }}</div>


<div>
<form action="." method="POST">
    {% csrf_token %} 
    {% if script.approved %}
    <input type="submit" value="Create Test Run" name="create" />
    {% endif %}
</form>

{% if can_approve %}
{% if not script.approved %}
<form action="." method="POST">
    {% csrf_token %}
    
    {{ approval_form }}
    <input type="submit" value="Approve Test Run" name="approve" />

</form>

{% endif %}
{% endif %}
</div>

{% endblock %}