{% extends 'base.html' %}

{% block content %}

<form action="." method="POST">
{% csrf_token %}

{% for group in groups %}
    <h2>{{ group.name }}</h2>
    <table>
        <thead>
            <th>Test Name</th>
            <th>Story ID</th>
            <th>Test Steps</th>
            <th>Expected Result</th>
            {% if view %}
            <th>Automated Test ID</th>
            {% endif %}
            {% if not view %}
            <th>Actual Result</th>
            <th>Pass / Fail</th>
            {% endif %}
            
        </thead>
    {% for test in  group.singletest_set.all %}
        <tr>
            <td>{{ test.name }}</td>
            <td>{{ test.story_id }}</td>
            <td>{{ test.steps|linebreaksbr }}</td>
            <td>{{ test.expected_results }}</td>
            {% if view %}
            <td>{{ test.automated_test_id }}</td>
            {% endif %}
            {% if not view %}
            <td><input name="{{group.name}}/{{test.name}}/actual" type="text" value="{{ test.actual_result }}"/></td>
            <td>
                <input type="radio" name="{{group.name}}/{{test.name}}/passfail" value="pass" {% if test.get_status_as_string == 'True' %}checked{% endif %}/>Pass 
                <input type="radio" name="{{group.name}}/{{test.name}}/passfail" value="fail" {% if test.get_status_as_string == 'False' %}checked{% endif %}/>Fail
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}

{% if not view %}
<input type="submit" value="Save" />
{% endif %}
</form>
{% endblock %}